* {
  margin: 0;
}

*{
  scrollbar-width: thin;
  scrollbar-color: black white;
}

body{
  font-family: "Yantramanav", sans-serif;
}

nav{
  border-bottom: solid rgb(0, 0, 0);
}

.navigation{
justify-content: space-between;
display: flex;
padding: 20px;
}

nav input{
  margin-bottom: 20px;
  border: none;
  border-bottom: solid rgb(0, 0, 0);
  font-size: 15px;
}

.icons img{
  margin: 10px;
  padding: 10px;
}

nav img{
  width: 40px;
  height: 40px;
}

footer{ 
    color: rgb(0, 0, 0); 
    display: flex; 
    justify-content: space-between; 
    padding: 30px;
    padding-bottom: 50px;
}

footer p{
  margin-bottom: 30px;
}

.email{
  display: flex; 
  align-items: center;
  margin-bottom: 10px; 
}

footer input[type="email"] {
  padding: 5px;
  border: none;
  margin-right: 8px;
  background-color: transparent;
  border-bottom: solid rgb(0, 0, 0);
  width: 250px;
}

footer input[type="submit"] {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: solid rgb(0, 0, 0);
  width: 160px;
  height: 40px;
}

table th, table td {
  text-align: left;
  padding: 4px 8px;
}

.socials img{
  width: 24px;
  height: 24px;
}

.logo img{
  width: 80px;
  height: 80px;
}

main {
  padding: 20px;
}